In [6]:
# Load necessary packages:
from sqlalchemy import inspect, create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data 
from itertools import groupby, islice  # Import groupby and islice from itertools

In [7]:
# Connecting to the MySQL server 
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="DataGathering2025"
)

cursor = conn.cursor()

# Create the database if it doesn't exist
cursor.execute("CREATE DATABASE IF NOT EXISTS BrooksRun_split")
print("Database created successfully!")

# Select the database
cursor.execute("USE BrooksRun_split")

Database created successfully!

In [8]:
# Connect to your MySQL database using SQLAlchemy
DATABASE_URL = "mysql+mysqlconnector://root:DataGathering2025@localhost/BrooksRun_split"
engine = create_engine(DATABASE_URL)

print("Connected to BrooksRun_split database successfully!")

Connected to BrooksRun_split database successfully!

In [9]:
# Load the DataFrames into the database as their respective tables
BrooksShoes = pd.read_csv("clean_BrooksShoes.csv")
BrooksCustomers = pd.read_csv("clean_BrooksCustomers.csv")

# Confirm they are DataFrames
BrooksShoes = pd.DataFrame(BrooksShoes)
BrooksCustomers = pd.DataFrame(BrooksCustomers)

In [10]:
with engine.connect() as connection:
    
    # Create Customers table
    create_customers_table = """
    CREATE TABLE IF NOT EXISTS Customers (
        customer_id BIGINT PRIMARY KEY,
        price_range BIGINT,
        customer_support VARCHAR(100),
        run_type VARCHAR(100),
        arch_type VARCHAR(100),
        customer_gender VARCHAR(100)
    );
    """

    # Create Shoes table
    create_shoes_table = """
    CREATE TABLE IF NOT EXISTS Shoes (
        name VARCHAR(255),
        gender VARCHAR(100),
        price DOUBLE,
        support VARCHAR(100),
        experience VARCHAR(100),
        surface VARCHAR(100),
        midsole_drop_mm DOUBLE,
        weight_g INT,
        high_arch BOOLEAN,
        medium_arch BOOLEAN,
        flat_arch BOOLEAN
        PRIMARY KEY (name, gender)
    );
    """

    # Create Recommendations table
    create_recommendations_table = """
    CREATE TABLE IF NOT EXISTS CustomerRecommendations (
        customer_id BIGINT,
        match_rank INT,
        shoe_name VARCHAR(255),
        match_score FLOAT,
        PRIMARY KEY (customer_id, match_rank),
        FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
        FOREIGN KEY (shoe_name) REFERENCES Shoes(name)
    );
    """

    # Execute table creation
    connection.execute(text(create_customers_table))
    connection.execute(text(create_shoes_table))
    connection.execute(text(create_recommendations_table))

print("Tables created successfully.")

Tables created successfully.

In [11]:
#going to look at the database now
# Create an inspector
inspector = inspect(engine)

# Get all table names
tables = inspector.get_table_names()
print("Tables in the database:", tables)

# Loop through each table and print its columns
for table in tables:
    columns = inspector.get_columns(table)
    print(f"\nColumns in table '{table}':")
    for col in columns:
        print(f" - {col['name']} ({col['type']})")

Tables in the database: ['CustomerRecommendations', 'Customers', 'Shoes']

Columns in table 'CustomerRecommendations':
 - customer_id (BIGINT)
 - match_rank (INTEGER)
 - shoe_name (VARCHAR(255))
 - match_score (FLOAT)

Columns in table 'Customers':
 - customer_id (BIGINT)
 - price_range (BIGINT)
 - customer_support (VARCHAR(100))
 - run_type (VARCHAR(100))
 - arch_type (VARCHAR(100))
 - customer_gender (VARCHAR(100))

Columns in table 'Shoes':
 - name (VARCHAR(255))
 - gender (VARCHAR(100))
 - price (DOUBLE)
 - support (VARCHAR(100))
 - experience (VARCHAR(100))
 - surface (VARCHAR(100))
 - midsole_drop_mm (DOUBLE)
 - weight_g (INTEGER)
 - high_arch (TINYINT)
 - medium_arch (TINYINT)
 - flat_arch (TINYINT)

In [12]:
#inserting shoe data
with engine.begin() as connection:
    for _, row in BrooksShoes.iterrows():
        shoe_query = """
            INSERT INTO Shoes (
                name, gender, price, support, experience, surface,
                midsole_drop_mm, weight_g,
                high_arch, medium_arch, flat_arch
            ) VALUES (
                :name, :gender, :price, :support, :experience, :surface,
                :midsole_drop_mm, :weight_g,
                :high_arch, :medium_arch, :flat_arch
            )
            ON DUPLICATE KEY UPDATE
                gender = VALUES(gender),
                price = VALUES(price),
                support = VALUES(support),
                experience = VALUES(experience),
                surface = VALUES(surface),
                midsole_drop_mm = VALUES(midsole_drop_mm),
                weight_g = VALUES(weight_g),
                high_arch = VALUES(high_arch),
                medium_arch = VALUES(medium_arch),
                flat_arch = VALUES(flat_arch)
        """
        connection.execute(text(shoe_query), {
            'name': row['name'],
            'gender': row['gender'],
            'price': row['price'],
            'support': row['support'],
            'experience': row['experience'],
            'surface': row['surface'],
            'midsole_drop_mm': row['midsole_drop_mm'],
            'weight_g': int(row['weight_g']),
            'high_arch': bool(row['high_arch']),
            'medium_arch': bool(row['medium_arch']),
            'flat_arch': bool(row['flat_arch'])
        })

print("Shoe data inserted successfully.")

Shoe data inserted successfully.

In [13]:
#inserting customer data
with engine.begin() as connection:
    for _, row in BrooksCustomers.iterrows():
        customer_query = """
            INSERT INTO Customers (
                customer_id, price_range, customer_support,
                run_type, arch_type, customer_gender
            ) VALUES (
                :customer_id, :price_range, :customer_support,
                :run_type, :arch_type, :customer_gender
            )
            ON DUPLICATE KEY UPDATE
                price_range = VALUES(price_range),
                customer_support = VALUES(customer_support),
                run_type = VALUES(run_type),
                arch_type = VALUES(arch_type),
                customer_gender = VALUES(customer_gender)
        """
        connection.execute(text(customer_query), {
            'customer_id': int(row['customer_id']),
            'price_range': row['price_range'],
            'customer_support': row['customer_support'],
            'run_type': row['run_type'],
            'arch_type': row['arch_type'],
            'customer_gender': row['customer_gender']
        })

print("Customer data inserted successfully.")

Customer data inserted successfully.

In [14]:
#Now we will start with figuring out how to populate the Customer Preference table
def compute_match_score(customer, shoe):
    
    #Computes a match score between a customer and a shoe.
    #The score is weighted based on: gender > price > support > arch_type.
    
    score = 0  # Initialize total match score

    #Gender (Weight: 0.4) 
    #setting values to lowercase 
    customer_gender = customer['customer_gender'].lower()
    shoe_gender = shoe['gender'].lower()

    if shoe_gender == 'unisex':
        gender_score = 0.4  # Unisex is compatible with all genders
    elif shoe_gender == customer_gender:
        gender_score = 0.4  # Exact gender match
    else:
        gender_score = 0.0  # Gender doesn't match

    score += gender_score  # Add to total score

    #Price Range (Weight: 0.3) 
    #getting the customers price_range (maximum budget)
    customer_price_range = customer['price_range']
    shoe_price = shoe['price']
    #calculate the absolute difference between the customer price range and shoe price
    price_diff = abs(customer_price_range - shoe_price)
    
    #logic to reflect that a customer would be more inclined to buy a cheaper shoe 
    if customer_price_range > 0:
        
        if shoe_price <= customer_price_range:
            # If the shoe is cheaper than the customer's price range, that's ideal
            # Reward this with a high score, slightly boosted for affordability
            normalized_price_score = 1.0  # Perfect match or better 
            
        else:
            # If the shoe is more expensive than the customer wanted, penalize it
            normalized_price_score = max(0, 1 - price_diff / customer_price_range)
    
    else:
        # If the customer didn't provide a valid price range (0 or negative), fallback to 0
        normalized_price_score = 0

    # Scale the normalized score to fit the desired weight (max 0.3 of total match score)
    weighted_price_score = normalized_price_score * 0.3

    #Support (Weight: 0.2)
    #setting values to lowercase
    customer_support = customer['customer_support'].lower()
    shoe_support = shoe['support'].lower()

    #if they match exactly, then they get a perfect score
    if customer_support == shoe_support:
        support_score = 0.2
    #else get a score of 0
    else:
        support_score = 0.0

    score += support_score  # Add to total score

    #Arch Type (Weight: 0.1)
    #initializing arch_score
    arch_score = 0.0
    #setting values to lowercase
    customer_arch = customer['arch_type'].lower()

    #checking to see if customer prefers high arch
    if customer_arch == 'high arch':
        #if shoe is high arch give full score
        if shoe['high_arch']:
            arch_score = 0.1
    #check if its medium arch
    elif customer_arch == 'medium arch':
        #if medium then give full credit
        if shoe['medium_arch']:
            arch_score = 0.1
    #check if its flat arch
    elif customer_arch == 'flat arch':
        #if flat then give full credit
        if shoe['flat_arch']:
            arch_score = 0.1

    score += arch_score  # Add to total score

    #return the total score rounded to 4 decimal places
    return round(score, 4)

In [15]:
#Time to populate the Customer_Preferences table using weighted function
#get customer and shoe data
with engine.connect() as connection:
    customers = pd.read_sql("SELECT * FROM Customers", connection)
    shoes = pd.read_sql("SELECT * FROM Shoes", connection)

In [16]:
#Loop through customers and shoes to calculate match scores
recommendations = [] #initialize empty list to store customer recommendations
#iterate through each customer in customer dataframe
for _, customer in customers.iterrows():
    #iterate each shoe in shoe dataframe
    for _, shoe in shoes.iterrows():
        #calculate the match score between the customer and the shoe with match score function
        match_score = compute_match_score(customer, shoe)
        
        #add recommendation to list (customer_id, shoe_name, match_score)
        recommendations.append({
            'customer_id': customer['customer_id'], #customers unique id
            'shoe_name': shoe['name'], #name of shoe being recommended
            'match_score': match_score #the match score
        })

In [17]:
#Sort recommendations by match score (highest first) for each 
#lamda defines the sorting and sorts based on customer_id and match_score
recommendations.sort(key=lambda x: (x['customer_id'], x['match_score']), reverse=True)

In [18]:
#Insert the recommendations into the CustomerRecommendations table
with engine.begin() as connection:
    for customer_id, customer_recommendations in groupby(recommendations, key=lambda x: x['customer_id']):
        #taking only the top 3 shoes
        top_3 = list(islice(customer_recommendations, 3))
        # Generate a rank for each shoe for this customer
        for rank, recommendation in enumerate(top_3, start=1):
            # Insert the recommendation into the database
            recommendation_query = """
                INSERT INTO CustomerRecommendations (customer_id, match_rank, shoe_name, match_score)
                VALUES (:customer_id, :match_rank, :shoe_name, :match_score)
                ON DUPLICATE KEY UPDATE
                    match_score = VALUES(match_score)
            """
            connection.execute(text(recommendation_query), {
                'customer_id': recommendation['customer_id'],
                'match_rank': rank,
                'shoe_name': recommendation['shoe_name'],
                'match_score': recommendation['match_score']
            })

print("Customer recommendations populated successfully!")

Customer recommendations populated successfully!

In [19]:
# Query to load the first 15 rows from the CustomerRecommendations table into a DataFrame
recommendations = pd.read_sql("SELECT * FROM CustomerRecommendations LIMIT 15", engine)

# Display the first 15 rows
print(recommendations)

    customer_id  match_rank          shoe_name  match_score
0             1           1            Asteria          0.7
1             1           2           Beast 20          0.5
2             1           3          Catamount          0.5
3             2           1  Adrenaline GTS 20          0.7
4             2           2           Bedlam 3          0.7
5             2           3         Ravenna 11          0.6
6             3           1           Beast 20          0.7
7             3           2            Asteria          0.5
8             3           3          Catamount          0.5
9             4           1            Asteria          0.6
10            4           2          Catamount          0.5
11            4           3     Hyperion Elite          0.5
12            5           1  Adrenaline GTS 20          0.7
13            5           2           Bedlam 3          0.7
14            5           3         Ravenna 11          0.6

In [23]:
# Query to load the first 15 rows from the CustomerRecommendations table into a DataFrame
recommendations = pd.read_sql("SELECT * FROM Shoes LIMIT 50", engine)

# Display the first 15 rows
print(recommendations)

print(BrooksShoes)

                 name   gender   price      support experience surface  \
0        Addiction 14  Women's  130.00  Max Support    Cushion    Road
1   Adrenaline GTS 20  Women's  130.00      Support    Cushion    Road
2            Anthem 3  Women's   69.95      Neutral    Cushion    Road
3           Ariel '18  Women's  104.00  Max Support    Cushion    Road
4             Asteria    Men's  110.00      Support      Speed    Road
5            Beast 20    Men's  160.00  Max Support    Cushion    Road
6            Bedlam 3  Women's  150.00      Support   Energize    Road
7           Caldera 4  Women's  140.00      Neutral   Energize   Trail
8         Cascadia 15  Women's  130.00      Neutral    Cushion   Trail
9     Cascadia 15 GTX  Women's  160.00      Neutral    Cushion   Trail
10          Catamount    Men's  160.00      Neutral      Speed   Trail
11             Divide  Women's  100.00      Neutral    Cushion   Trail
12            Dyad 10  Women's   84.50      Neutral    Cushion    Road
13            Dyad 11    Men's  130.00      Neutral    Cushion    Road
14           Ghost 13  Women's  130.00      Neutral    Cushion    Road
15        Glycerin 18  Women's  150.00      Neutral    Cushion    Road
16           Hyperion  Women's  130.00      Neutral      Speed    Road
17     Hyperion Elite   Unisex  250.00      Neutral      Speed    Road
18   Hyperion Elite 2   Unisex  250.00      Neutral      Speed    Road
19     Hyperion Tempo  Women's  150.00      Neutral      Speed    Road
20           Launch 7  Women's  100.00      Neutral      Speed    Road
21         Levitate 4  Women's  150.00      Neutral   Energize    Road
22         PureFlow 7  Women's   90.00      Neutral    Connect    Road
23         PureGrit 8  Women's   78.00      Neutral    Connect   Trail
24         Ravenna 11  Women's  110.00      Support      Speed    Road
25            Revel 4  Women's  100.00      Neutral   Energize    Road
26         Ricochet 2  Women's  120.00      Neutral   Energize    Road
27      Ricochet 2 LE  Women's  120.00      Neutral   Energize    Road
28        Transcend 7  Women's  160.00      Support    Cushion    Road

    midsole_drop_mm  weight_g  high_arch  medium_arch  flat_arch
0              12.0       323          0            1          1
1              12.0       266          1            1          0
2              10.0       235          1            1          0
3              12.0       334          0            1          1
4               8.0       235          0            1          1
5              12.0       331          0            1          1
6               8.0       269          1            1          0
7               4.0       252          1            1          0
8               8.0       283          1            1          0
9               8.0       294          1            1          0
10              6.0       263          1            1          1
11              8.0       260          1            1          0
12             10.0       297          0            1          1
13             10.0       328          0            1          1
14             12.0       249          1            1          0
15             10.0       255          1            1          0
16             10.0       161          1            1          0
17              8.0       195          1            1          1
18              8.0       215          1            1          1
19              8.0       189          1            1          1
20             10.0       226          1            1          0
21              8.0       260          1            1          0
22              4.0       212          1            1          0
23              4.0       232          1            1          0
24             10.0       238          0            1          1
25              8.0       224          1            1          0
26              8.0       238          1            1          0
27              8.0       275          1            1          0
28             10.0       269          0            1          1
                 name   gender   price      support experience surface  \
0        Addiction 14    Men's  130.00  Max Support    Cushion    Road
1   Adrenaline GTS 20    Men's  130.00      Support    Cushion    Road
2            Anthem 3    Men's   69.95      Neutral    Cushion    Road
3             Asteria    Men's  110.00      Support      Speed    Road
4            Beast 20    Men's  160.00  Max Support    Cushion    Road
5            Bedlam 3    Men's  150.00      Support   Energize    Road
6           Caldera 4    Men's  140.00      Neutral   Energize   Trail
7         Cascadia 15    Men's  130.00      Neutral    Cushion   Trail
8     Cascadia 15 GTX    Men's  160.00      Neutral    Cushion   Trail
9           Catamount    Men's  160.00      Neutral      Speed   Trail
10             Divide    Men's  100.00      Neutral    Cushion   Trail
11            Dyad 11    Men's  130.00      Neutral    Cushion    Road
12           Ghost 13    Men's  130.00      Neutral    Cushion    Road
13        Glycerin 18    Men's  150.00      Neutral    Cushion    Road
14           Hyperion    Men's  130.00      Neutral      Speed    Road
15     Hyperion Tempo    Men's  150.00      Neutral      Speed    Road
16     Hyperion Elite   Unisex  250.00      Neutral      Speed    Road
17           Launch 7    Men's  100.00      Neutral      Speed    Road
18         Levitate 4    Men's  150.00      Neutral   Energize    Road
19         PureFlow 7    Men's   90.00      Neutral    Connect    Road
20         PureGrit 8    Men's   78.00      Neutral    Connect   Trail
21         Ravenna 11    Men's  110.00      Support      Speed    Road
22            Revel 4    Men's  100.00      Neutral   Energize    Road
23         Ricochet 2    Men's  120.00      Neutral   Energize    Road
24      Ricochet 2 LE    Men's  120.00      Neutral   Energize    Road
25        Transcend 7    Men's  160.00      Support    Cushion    Road
26           Ghost 13  Women's  130.00      Neutral    Cushion    Road
27  Adrenaline GTS 20  Women's  130.00      Support    Cushion    Road
28            Revel 4  Women's  100.00      Neutral   Energize    Road
29        Glycerin 18  Women's  150.00      Neutral    Cushion    Road
30         Levitate 4  Women's  150.00      Neutral   Energize    Road
31           Bedlam 3  Women's  150.00      Support   Energize    Road
32       Addiction 14  Women's  130.00  Max Support    Cushion    Road
33         PureFlow 7  Women's   90.00      Neutral    Connect    Road
34         Ravenna 11  Women's  110.00      Support      Speed    Road
35        Transcend 7  Women's  160.00      Support    Cushion    Road
36         Ricochet 2  Women's  120.00      Neutral   Energize    Road
37        Cascadia 15  Women's  130.00      Neutral    Cushion   Trail
38             Divide  Women's  100.00      Neutral    Cushion   Trail
39   Hyperion Elite 2   Unisex  250.00      Neutral      Speed    Road
40     Hyperion Tempo  Women's  150.00      Neutral      Speed    Road
41          Caldera 4  Women's  140.00      Neutral   Energize   Trail
42      Ricochet 2 LE  Women's  120.00      Neutral   Energize    Road
43    Cascadia 15 GTX  Women's  160.00      Neutral    Cushion   Trail
44           Anthem 3  Women's   69.95      Neutral    Cushion    Road
45           Hyperion  Women's  130.00      Neutral      Speed    Road
46           Launch 7  Women's  100.00      Neutral      Speed    Road
47            Dyad 10  Women's   84.50      Neutral    Cushion    Road
48          Ariel '18  Women's  104.00  Max Support    Cushion    Road
49         PureGrit 8  Women's   78.00      Neutral    Connect   Trail

    midsole_drop_mm  weight_g  high_arch  medium_arch  flat_arch
0              12.0     357.2      False         True       True
1              12.0     300.5       True         True      False
2              10.0     212.6       True         True      False
3               8.0     235.3      False         True       True
4              12.0     331.7      False         True       True
5               8.0     306.2       True         True      False
6               4.0     283.5       True         True      False
7               8.0     311.8       True         True      False
8               8.0     331.7       True         True      False
9               6.0     263.7       True         True       True
10              8.0     292.0       True         True      False
11             10.0     328.9      False         True       True
12             12.0     286.3       True         True      False
13             10.0     289.2       True         True      False
14             10.0     181.4       True         True      False
15              8.0     207.0       True         True       True
16              8.0     195.6       True         True       True
17             10.0     255.1       True         True      False
18              8.0     292.0       True         True      False
19              4.0     252.3       True         True      False
20              4.0     263.7       True         True      False
21             10.0     266.5      False         True       True
22              8.0     252.3       True         True      False
23              8.0     275.0       True         True      False
24              8.0     275.0       True         True      False
25             10.0     303.3      False         True       True
26             12.0     249.5       True         True      False
27             12.0     266.5       True         True      False
28              8.0     224.0       True         True      False
29             10.0     255.1       True         True      False
30              8.0     260.8       True         True      False
31              8.0     269.3       True         True      False
32             12.0     323.2      False         True       True
33              4.0     212.6       True         True      False
34             10.0     238.1      False         True       True
35             10.0     269.3      False         True       True
36              8.0     238.1       True         True      False
37              8.0     283.5       True         True      False
38              8.0     260.8       True         True      False
39              8.0     215.5       True         True       True
40              8.0     189.9       True         True       True
41              4.0     252.3       True         True      False
42              8.0     275.0       True         True      False
43              8.0     294.8       True         True      False
44             10.0     235.3       True         True      False
45             10.0     161.6       True         True      False
46             10.0     226.8       True         True      False
47             10.0     297.7      False         True       True
48             12.0     334.5      False         True       True
49              4.0     232.5       True         True      False